<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Emilia Cole</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="about">
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>
            about <br>emilia //
        </h1>
        <section>
            <h3>
                "Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album"
            </h3>
            <p>- John Tirckle, Music Today Post</p>
        </section>
        <section>
            <h3>
                "Emilia Cole is one of the scene's breakout stars"
            </h3>
            <p>- John Tirckle, Music Today Post</p>
        </section>
    </main>
</body>
</html>