<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Emilia Cole</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="contact">
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>CONTACT //</h1>
    </main>
    <section>
        <h4>WE ARE HERE</h4>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1697522275073!5m2!1ses!2sar"
            width="1450" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section>
        <h4>CONTACT INFO</h4>
        <article>
            <h5>MANAGEMENT | Karen Blanche</h5>
            <p>
                <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
            </p>
            <p>
                <b>phone: </b><a href="tel:+123-456-7890"> 123-456-7890</a>
            </p>
        </article>
        <article>
            <h5>BOOKING | Daniel Ku</h5>
            <p>
                <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
            </p>
            <p>
                <b>phone: </b><a href="tel:+123-456-7890"> 123-456-7890</a>
            </p>
        </article>
        <article>
            <h5>LABEL | Wix Records, Jake Coldham</h5>
            <p>
                <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
            </p>
            <p>
                <b>phone: </b><a href="tel:+123-456-7890"> 123-456-7890</a>
            </p>
        </article>
        <article>
            <h5>PR | That Girl Pr, Sarah Brookstone</h5>
            <p>
                <b>email: </b><a href="mailto:info@mysite.com">info@mysite.com</a>
            </p>
            <p>
                <b>phone: </b><a href="tel:+123-456-7890"> 123-456-7890</a>
            </p>
        </article>
    </section>
</body>

</html>