<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music | Emilia Cole</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="music">
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>music</h1>
        <nav>
            <h5>Direct links</h5>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </nav>
        <section id="album">
            <h4>album<br>twist in my reality</h4>
            <img src="/img/emilia-play-list.png" alt="emilia play list" width="640">
            <ol>
                <li><a href=""><i class="fa-solid fa-play"></i> Organic Love | 02:40</a></li>
                <li><a href=""><i class="fa-solid fa-play"></i> Twist In My Reality | 02:10</a></li>
                <li><a href=""><i class="fa-solid fa-play"></i> Street Light | 03:28</a></li>
                <li><a href=""><i class="fa-solid fa-play"></i> Love Don't Live Here Anymore (cover) | 03:49</a></li>
            </ol>
            <a href="#">Go Top</a>
        </section>
        <section id="organic">
            <h4>
                video<br>organic love
            </h4>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" 
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div>
                <p>
                    Directed by VINCE MALC & EMILIA COLE
                </p>
                <p>
                    Edited and Filmed by NICOLAS TROY
                </p>
                <p>
                    Produced by NIKI HEART,
                </p>
                <p>
                    Wix Films LTD.
                </p>
            </div>
            <a href="#">Go Top</a>
        </section>
        <section id="street">
            <h4>
                video<br>street light
            </h4>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" 
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div>
                <p>
                    Directed by VINCE MALC & EMILIA COLE
                </p>
                <p>
                    Edited and Filmed by NICOLAS TROY
                </p>
                <p>
                    Produced by NIKI HEART,
                </p>
                <p>
                    Wix Films LTD.
                </p>
            </div>
            <a href="#">Go Top</a>
        </section>
    </main>
</body>

</html>